$close-icon-size: 1.2rem;
$form-main-color: #2C3E50;

.reminder {
  width: 320px;
	text-align: center;

  &.split {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
      ". form weather"
      ". form weather"
      ". form ."
      ". form ."
      ". form ."
      ". form .";
    width: 480px;
  }

  &__form {
    grid-area: form;
    position: relative;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;

    &__title {
      font-size: 15px;
      text-transform: uppercase;
      color: $form-main-color;
      margin-bottom: 10px;
      cursor: default;
    }

    &__label {
      font-size: 1rem;
      text-transform: uppercase;
      color: $form-main-color;
    }
    
    &__input {
      display: block;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 10px;
      width: 100%;
      box-sizing: border-box;
      color: $form-main-color;
    }

    &__button {
      width: 100px;
      font-weight: bold;
      border: 0 none;
      border-radius: 1px;
      cursor: pointer;
      padding: 10px 5px;
      margin: 10px 5px;

      &--exit {
        position: absolute;
        top: 10px;
        left: 10px;
        color: black;

        &.mat-icon-button {
          height: $close-icon-size;
          width: $close-icon-size;
          font-size: $close-icon-size;
          line-height: 1rem;
        }
      }
    
      &.accept {
        background: #27AE60;
        color: white;
      }
    
      &.cancel {
        background: white;
        color: black;
        border: 1px solid black;
      }

      &.color {
        width: 90%;
        background: white;
        border: 2px solid black;
        border-radius: 3px;

        &:disabled {
          border-color: lightgray;
          cursor: default;
        }
      }
    }
  }

  &__weather {
    grid-area: weather;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    text-align: left;

    &__item {
      color: $form-main-color;
      font-weight: normal;
      margin-top: 10px;
      cursor: default;

      &.title {
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 0;
      }

      .mat-icon {
        font-weight: bold;
      }
    }

    &__error {
      color: red;
    }
  }

}